/* 
#ad974f;
#8E793E;
#231F20;
#EAEAEA;
*/

.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 30px;
  min-height: 80vh;
}

form {
  max-width: 350px;
  max-height: 70%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px#ad974f;
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  color: #eaeaea;
  background: #ad974f;
}

.render-chat {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding: 20px;
  background: #ad974f;
  box-shadow: 0px 3px 24px -8px #ad974f;
  overflow: auto;
}

h3 {
  color: #231f20;
  margin-top: 0;
}

span {
  color: #eaeaea;
}

.timestamp {
  font-size: 10px;
  margin: 0;
}
