/* 
#ad974f;
#8E793E;
#231F20;
#EAEAEA;
*/

.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 30px;
  max-height: 80vh;
}

.forms {
  max-width: 350px;
  max-height: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px#ad974f;
}

.name-field {
  margin-bottom: 40px;
}

.send-message {
  margin: 20px 0 150px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  color: #eaeaea;
  background: #ad974f;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.search-btn {
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  color: #eaeaea;
  background: #ad974f;
  margin: 5px;
}

.clear-search-btn {
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  color: #eaeaea;
  background: #ad974f;
  margin: 5px;
}

.render-chat {
  width: 90%;
  height: 70vh;
  border-radius: 5px;
  padding: 20px;
  background: #ad974f;
  box-shadow: 0px 3px 24px -8px #ad974f;
  overflow: scroll;
}

h3 {
  color: #231f20;
  margin-top: 0;
}

span {
  color: #eaeaea;
}

.timestamp {
  font-size: 10px;
  margin: 0;
}
